body{
    background-color: rgb(194, 72, 72);
}

h1{
    text-align: center;
}

button{
    width: 150px;
}

.center{
    display: flex;
    justify-content: center;
}

.gray{
    background-color: rgb(184, 184, 184);
    height: 2rem;
    width: 100%;
}

.col{
    display: flex;
    width: auto;
}

#grid{
    border: 1px solid black;
    height: auto;
    width: auto;
}

.black{
    background-color: rgba(0, 0, 0, 0.932);
}